/*CURSO1*/

#espana {
    width: 20%;
    max-width: 900px;
    margin: auto;
    text-decoration: none;
    color: white;
}

#curso1 {
    background: rgba(52, 52, 110, 0.582);
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.24);
}

#curso1 {
    color: #fff;
}

#curso1 hr {
    background: red;
    height: 5px;
    border: none;
}

#curso1,
p {
    line-height: 25px;
}

#curso1 h2,
#curso1 p,
#curso1 hr {
    margin-bottom: 20px;
}

#curso1 {
    position: relative;
    left: -320px;
    top: 50px;
}


/*********CURSO2***********/

#espana {
    width: 20%;
    max-width: 900px;
    margin: auto;
    text-decoration: none;
    color: white;
}

#c2 {
    background: rgba(52, 52, 110, 0.582);
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.24);
}

#c2 {
    color: #fff;
}

#c2 hr {
    background: red;
    height: 5px;
    border: none;
}

#c2,
p {
    line-height: 25px;
}

#c2,
#c2 p,
#c2 hr {
    margin-bottom: 20px;
}

#c2 {
    position: relative;
    left: -350px;
    top: 100px;
}

#c2 {
    position: relative;
    left: 10px;
    top: -305px;
}


/**********************CURSOS3********************************/

#espana {
    width: 20%;
    max-width: 900px;
    margin: auto;
    text-decoration: none;
    color: white;
}

#c3 {
    background: rgba(52, 52, 110, 0.582);
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.24);
}

#c3 {
    color: #fff;
}

#c3 hr {
    background: red;
    height: 5px;
    border: none;
}

#c3,
p {
    line-height: 25px;
}

#c3,
#c3 p,
#c3 hr {
    margin-bottom: 20px;
}

#c3 {
    position: relative;
    left: -350px;
    top: 100px;
}

#c3 {
    position: relative;
    left: 338px;
    top: -660px;
}

.parrafo {
    font-size: 20px;
    color: white;
}


/***********************************************************************************************************************************/


/*Cursos*/

.dropbtn {
    background-color: #2874A6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 150px;
    top: 80px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2874A6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #5DADE2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #5DADE2;
}

.imagen {
    position: absolute;
    left: 150px;
    top: 225px;
    width: 950px;
}

#sub {
    background: red;
    height: 2px;
    border: none;
    position: relative;
    top: 109px;
}

.pie {
    font-size: 20px;
    position: absolute;
}

.pie2 {
    font-size: 17px;
    position: absolute;
    top: 520px;
}

.video {
    width: 955px;
    position: absolute;
    top: 820px;
    left: 150px;
}

.pv {
    font-size: 20px;
}

.inCur {
    position: absolute;
    top: 1300px;
    left: 150px;
    color: white;
}

ul {
    position: relative;
    left: 50px;
}

.cuadro {
    width: 210px;
    height: 140px;
    border-left: 6px solid red;
    background-color: lightgrey;
    position: relative;
    left: 960px;
    top: 280px;
}

#la {
    width: 158px;
}